body {
  background: rgb(246, 246, 246);
  touch-action: manipulation;
}

.bg-white {
  background: #fff;
}

.badge-info {
  background-color: #9F86FF;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
  background-color: #7753ff;
}

.bg-tab-content {
  border: 1px solid #dee2e6;
  border-top: none;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
  border-radius: 0 0 6px 6px;
}

.loader {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}

.loader img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.loader img.spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

#drift-widget-container {
  z-index: 1039 !important;
}

.staging-banner {
  background-size: auto auto;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 238, 1, .5) 10px, rgba(255, 238, 1, .5) 20px);
}

@-moz-keyframes spin {
  100% {
      -moz-transform: rotate(1620deg);
  }
}

@-webkit-keyframes spin {
  100% {
      -webkit-transform: rotate(1620deg);
  }
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(1620deg);
      transform: rotate(1620deg);
  }
}

.container > .tab-content {
  padding: 15px 10px 20px !important;
}

.container {
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
}

.secondary-nav .nav-link {
  border-radius: 0;
  border-bottom: 3px solid #fff;
}

.secondary-nav .nav-link:hover {
  border-bottom: 3px solid #007bff2e;
}

.secondary-nav .nav-link.active {
  background: #fff;
  color: #444;
  border-bottom: 3px solid #007bff;
}

@media (min-width: 768px) {
  body > .container {
      padding-right: 15px;
      padding-left: 15px;
  }
  .container > .tab-content {
      padding: 12px 20px 20px !important;
  }
}

@media (min-width: 1330px) {
  body > .container {
      padding-right: 0;
      padding-left: 0;
  }
}

@media print {
  .print-only {
      display: block;
  }
  .hide-for-print {
      display: none;
  }
}

.nav-tabs {
  border-bottom: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.dropdown-user .nav-link {
  color: #444 !important;
}

.dropdown-user .nav-link:hover {
  color: #222 !important;
  background: #f2f2f2;
}

body {
  padding-bottom: 60px;
}

.bg-tab-content {
  border: 1px solid #dee2e6;
  border-radius: 6px;
}

.content {
  padding: 15px 23px 15px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1200px) {
  .bg-white {
      margin-right: 10%;
      margin-left: 10%;
  }
}

.questions {
  transition: height .5s ease;
  min-height: 250px;
}

.question {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  position: absolute;
  opacity: 0;
  min-height: 250px;
}

.question.animating {
  transition: transform .5s ease, opacity .25s ease;
}

.question.previous {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.question.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

.submit {
  display: none;
}

.back-next-controls {
  display: block;
  margin-top: 20px;
}

.breadcrumb {
  background: #fff;
  margin: 0;
}

.breadcrumb-item.active {
  color: #222;
}

@media (min-width: 500px) {
  .back-next-controls {
      display: inline-block;
      margin-top: 0;
  }
}